<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>displaying Webpages of Selected Topics</h1>


        <table border="3px">
            <tr>
                <th>Topic_name</th>
                <th>Name</th>
                <th>Url</th>
            </tr>

        {% for wo in RWOS %}
            <tr>
                <td>
                    {{wo.topic_name}}
                </td>
                <td>
                    {{wo.name}}
                </td>
                <td>
                    {{wo.url}}
                </td>
            </tr>
        {% endfor  %}

















        </table>
















    </center>
</body>
</html>