<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>HTML forms</h1>

        <form method="POST">
            {% csrf_token %}

            <label for="un">Username</label>
            <input type="text" name="un" id="un"> <br>

            <label for="pw">Password</label>
            <input type="password" name="pw" id="pw"><br>

            <input type="submit">








        </form>












    </center>
</body>
</html>