<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>insert_webpage form</h1>
        <form method="POST">
            {% csrf_token %}


            <label for="tn">Topic_name</label>
            <select name="tn" id="tn">
                {% for to in LTO %}

                    <option value="{{to}}">{{to.topic_name}}</option>
                {% endfor %}
            </select>

            <br><br>
            <label for="na">Name</label>
            <input type="text" name="na" id="na"><br><br>


            <label for="ur">URL</label>
            <input type="url" name="ur" id="ur"><br><br>
            <input type="submit" value="insert_webpage">



























        </form>
    </center>
</body>
</html>